/.thumbnails
/bin
/include
/data/.cache_textures
/data/.editor2
/data/.runtimes
/data/.thumbnails
/data/configs
/data/core.ung
/data/editor.cache
/data/editor2.ung
/data/root_mount.umount
/data/scripts.ung
/data/shader_d3d11.cache
/data/shader_d3d11_debug.cache
/data/unigine.cache
/obj
/Properties
/lib
/utils
/source/.vs/*
/source/x64/*
/source
launch_debug.bat
launch_editor.bat
launch_release.bat
launch_debug.sh
launch_editor.sh
launch_release.sh
*.project
*.csproj
*.sln
*.gpu_cache
*.upackage.meta
*.upackage
data/shader_gl.cache
data/shader_vk.cache
.vscode/*
